<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <div class="d-inline-block rounded-pill bg-secondary text-primary py-1 px-3 mb-3">Ce que nous faisons</div>
            <h1 class="display-6 mb-5">Apprenez-en plus sur ce que nous faisons et impliquez-vous</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="assets/img/icon-1.png" alt="">
                    <!-- 
                        Développer les semences agricoles de qualité au
Mali ; aider les membres à acquérir des semences certifiés
de qualité pour la profession agricole ; garantir de semences
certifiées sur toute l’étendue du territoire national ;
promouvoir l’esprit coopératif ; rechercher le meilleur prix
aux semences de qualité au Mali,
                     -->
                    <h4 class="mb-3">Semences agricole</h4>
                    <p class="mb-4">Développer les semences agricoles de qualité au
                        Mali.</p>
                    <a class="btn btn-outline-primary px-3" href="">
                        Plus infos
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="assets/img/icon-2.png" alt="">
                    <h4 class="mb-3">Aide agricole</h4>
                    <p class="mb-4">aider les membres à acquérir des semences certifiés
                        de qualité pour la profession agricole</p>
                    <a class="btn btn-outline-primary px-3" href="">
                        Plus infos
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="assets/img/icon-3.png" alt="">
                    <h4 class="mb-3">Certification</h4>
                    <p class="mb-4">garantir de semences
                        certifiées sur toute l’étendue du territoire national</p>
                    <a class="btn btn-outline-primary px-3" href="">
                        Plus infos
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="assets/img/icon-3.png" alt="">
                    <h4 class="mb-3">Promouvoir</h4>
                    <p class="mb-4">promouvoir l’esprit coopératif</p>
                    <a class="btn btn-outline-primary px-3" href="">
                        Plus infos
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="assets/img/icon-3.png" alt="">
                    <h4 class="mb-3">Rechercher</h4>
                    <p class="mb-4">rechercher le meilleur prix
                        aux semences de qualité au Mali</p>
                    <a class="btn btn-outline-primary px-3" href="">
                        Plus infos
                        <div class="d-inline-flex btn-sm-square bg-primary text-white rounded-circle ms-2">
                            <i class="fa fa-arrow-right"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
